<div *ngIf="resolverNumber == 1">
  <p>Luck is on your side! You manage to find a large field of edible mushrooms. You pick as many as you can and bring them back to the old man.</p>
  <p>"Thank you traveler! I wouldn't have made it without you. Please take this sword. It is a family heirloom, and will help you on your journey."</p>
  <p>Old Man's Sword  +25 Attack </p>
</div>

<div *ngIf="resolverNumber == 2">
  <p>You search high and low for any signs of food but can't find anything substantial. You end up bringing back a few clumps of cave moss and offer them to the old man.</p>
  <p>The old man smiles - "I knew very well there was no food to be had in this cavern. I wished to test your moral character, and in that you are a champion. Please take this shield. It is an old family heirloom and will protect others like you tried to protect me."</p>
  <p>Old Man's Shield  +20 Defense</p>
</div>

<div *ngIf="resolverNumber == 3">
  <p>You manage to uncover a few mushrooms hidden in a corner of the cavern. You pick them and bring them back to the old man, delighted that you managed to find any food at all down here.</p>
  <p>You see the old man's eyes bulge out of his head as he notices the mushrooms in your hand. He snatches them away from you and devours them.</p>
  <p>"Good riddance. You could have been a little quicker!"</p>
  <p>+10 XP</p>
</div>
